<ion-header>
    <ion-title>Home</ion-title>
</ion-header>

<ion-content padding>
  <h2>Heading</h2>

  <ion-input></ion-input>

  <ion-button>
    This button will do things...
  </ion-button>

  <ion-button (click)="reorderMode = !reorderMode">
    Toggle Reorder Mode
  </ion-button>

  <!-- as simple example as i could to mimic how we're currently displaying areas -->
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item-group>
          <ion-item *ngFor="let item of reorderItems">
            {{ item.id }} -- {{ item.value }}
          </ion-item>
        </ion-item-group>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-buttons slot="secondary">
          <ion-button>
            <ion-icon slot="icon-only" name="contact"></ion-icon>
          </ion-button>
          <ion-button>
            <ion-icon slot="icon-only" name="search"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title>Default Buttons</ion-title>
        <ion-buttons slot="primary">
          <ion-button color="secondary">
            <ion-icon slot="icon-only" name="more"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
</ion-footer>
